/.idea/
/quick-order-management/target/
/quick-order-portal/target/
/quick-order-common/target/
/quick-order-pojo/target/
quick-order-supplier/target/
quick-order-common/quick-order-common.iml
quick-order-management/quick-order-management.iml
quick-order-pojo/quick-order-pojo.iml
quick-order-portal/quick-order-portal.iml
quick-order-supplier/quick-order-supplier.iml
quick-order.iml
quick-order-internet/internet-dubbo-provider/target/
quick-order-internet/internet-interface/target/
quick-order-internet/internet-order-rest/target/
quick-order-internet/internet-dubbo-provider/internet-dubbo-provider.iml
quick-order-internet/internet-interface/internet-interface.iml
quick-order-internet/internet-order-rest/internet-order-rest.iml
quick-order-internet/quick-order-internet.iml
