<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengdu.supplier.mapper.GoodsStockMapper">
    <update id="updateGoodsStock" >
        update qo_supplier_goods_stock
        <trim prefix="set" suffixOverrides=",">
            <if test="goods_price!=null and goods_price!=''">goods_price=#{goods_price},</if>
            <if test="goods_count!=null and goods_count!=''">goods_count=#{goods_count},</if>
            <if test="goods_sale_date!=null and goods_sale_date!=''">goods_sale_date=#{goods_sale_date},</if>
            modified_time=current_timestamp
        </trim>
        where goods_id = #{goods_id} and id = #{id}
    </update>

    <insert id="insertGoodsStock" >
        insert into qo_supplier_goods_stock
            (goods_id,goods_price,goods_count,goods_sale_date,modified_time)
            values
            (#{goods_id},#{goods_price},#{goods_count},#{goods_sale_date},current_timestamp);
    </insert>

    <select id="getGoodsStockListPage" resultType="com.chengdu.management.pojo.GoodsStock_VO">
        SELECT
            qsi.supplier_id,
            qsgs.id,
            qsg.goods_id,
            qsg.goods_name,
            qsgs.goods_count,
            qsgs.goods_price,
            qsgs.goods_sale_date
        FROM
            qo_supplier_goods qsg
            right join qo_supplier_goods_stock qsgs on
            qsg.goods_id = qsgs.goods_id
            right join qo_supplier_info qsi on qsi.supplier_id = qsg.goods_supplier_id
        <where>
            <if test="goods_name!=null and goods_name!=''">qsg.goods_name like concat(#{goods_name},'%') and </if>
            <if test="goods_sale_date!=null and goods_sale_date!=''">qsgs.goods_sale_date = #{goods_sale_date} and </if>
            qsi.supplier_id = #{supplier_id}
        </where>
            LIMIT #{pageIndex},#{pageSize}
    </select>

    <select id="countGoodsStock" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
        qo_supplier_goods qsg
        right join qo_supplier_goods_stock qsgs on
        qsg.goods_id = qsgs.goods_id
        right join qo_supplier_info qsi on qsi.supplier_id = qsg.goods_supplier_id
        <where>
            <if test="goods_name!=null and goods_name!=''">qsg.goods_name like concat(#{goods_name},'%') and </if>
            <if test="goods_sale_date!=null and goods_sale_date!=''">qsgs.goods_sale_date = #{goods_sale_date} and </if>
            qsi.supplier_id = #{supplier_id}
        </where>
    </select>
</mapper>