<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengdu.supplier.mapper.GoodsMapper">
    <resultMap id="SupplierInfoMap" type="com.chengdu.management.pojo.SupplierInfo">
        <id column="supplier_id" property="supplier_id"></id>
        <result column="supplier_code" property="supplier_code"></result>
        <result column="supplier_name" property="supplier_name"></result>
        <result column="supplier_type" property="supplier_type"></result>
        <result column="link_man" property="link_man"></result>
        <result column="phone_number" property="phone_number"></result>
        <result column="bank_name" property="bank_name"></result>
        <result column="bank_account" property="bank_account"></result>
        <result column="address" property="address"></result>
        <result column="supplier_status" property="supplier_status"></result>
    </resultMap>
    
    <resultMap id="GoodsMap" type="com.chengdu.management.pojo.Goods">
        <id column="goods_id" property="goods_id"></id>
        <result column="goods_name" property="goods_name"></result>
        <result column="goods_intro" property="goods_intro"></result>
        <result column="goods_supplier_id" property="goods_supplier_id"></result>
        <result column="goods_status" property="goods_status"></result>
    </resultMap>

    <select id="selSupplierById" resultMap="SupplierInfoMap">
        select * from qo_supplier_info where supplier_id = #{supplierId}
    </select>

    <insert id="insertGoods">
        insert
        into
            qo_supplier_goods (goods_name,
                               goods_intro,
                               goods_supplier_id,
                               goods_status,
                               modified_time)
        values (#{goods_name},#{goods_intro},#{goods_supplier_id},0,current_timestamp);
    </insert>

    <update id="updateGoods">
        update qo_supplier_goods
        <trim prefix="set" suffixOverrides=",">
            <if test="goods_name!=null and goods_name!=''">goods_name=#{goods_name},</if>
            <if test="goods_intro!=null and goods_intro!=''">goods_intro=#{goods_intro},</if>
            goods_status=#{goods_status},
            modified_time=current_timestamp
        </trim>
        where goods_id = #{goods_id} and goods_supplier_id = #{goods_supplier_id}
    </update>

    <select id="listGoods" resultMap="GoodsMap">
        select * from qo_supplier_goods
        <where>
            <if test="goods_name!=null and goods_name!=''">goods_name like concat(#{goods_name},'%') and </if>
            <if test="goods_intro!=null and goods_intro!=''">goods_intro like concat(#{goods_intro},'%') and </if>
            goods_supplier_id = #{goods_supplier_id} and
            1=1 order by goods_id desc limit #{pageIndex},#{pageSize}
        </where>
    </select>

    <select id="countGoods" resultType="java.lang.Integer">
        select count(*) from qo_supplier_goods
        <where>
            <if test="goods_name!=null and goods_name!=''">goods_name like concat(#{goods_name},'%') and </if>
            <if test="goods_intro!=null and goods_intro!=''">goods_intro like concat(#{goods_intro},'%') and </if>
            goods_supplier_id = #{goods_supplier_id} and
            goods_status = #{goods_status} and
            1=1
        </where>
    </select>

    <select id="selGoodsById" resultMap="GoodsMap">
        select * from qo_supplier_goods where goods_id = #{goodsId}
    </select>

</mapper>