<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengdu.supplier.mapper.OrderInfoMapper">

    <select id="selOrderInfo" resultType="com.chengdu.management.pojo.OrderInfo">
        select
            qoi.*
        from
            qo_supplier_info qsi
                right join qo_supplier_goods qsg on
                qsi.supplier_id = qsg.goods_supplier_id
                right join qo_order_info qoi on
                qoi.goods_id = qsg.goods_id
        <where>
            <if test="saleDate!=null and saleDate!=''">qoi.saleDate = #{saleDate} and </if>
            <if test="order_id!=null and order_id!=''">qoi.order_id like concat(#{order_id},'%') and </if>
            <if test="phone!=null and phone!=''">qoi.phone like concat(#{phone},'%') and </if>
            qsi.supplier_id = #{supplierId} and
            1=1 limit #{pageIndex},#{pageSize}
        </where>
    </select>

    <select id="countSelOrderInfo" resultType="java.lang.Integer">
        select
            count(*)
        from
        qo_supplier_info qsi
        right join qo_supplier_goods qsg on
        qsi.supplier_id = qsg.goods_supplier_id
        right join qo_order_info qoi on
        qoi.goods_id = qsg.goods_id
        <where>
            <if test="saleDate!=null and saleDate!=''">qoi.saleDate = #{saleDate} and </if>
            <if test="order_id!=null and order_id!=''">qoi.order_id like concat(#{order_id},'%') and </if>
            <if test="phone!=null and phone!=''">qoi.phone like concat(#{phone},'%') and </if>
            qsi.supplier_id = #{supplierId}
        </where>
    </select>


</mapper>