<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengdu.qo.rest.service.mapper.GoodsStockMapper">
    <resultMap id="GoodsStockMap" type="java.util.HashMap">
        <result column="supplierId" property="supplierId"></result>
        <result column="supplierName" property="supplierName"></result>
        <result column="goodsId" property="goodsId"></result>
        <result column="goodsName" property="goodsName"></result>
        <result column="stockId" property="stockId"></result>
        <result column="price" property="price"></result>
        <result column="goodsCount" property="goodsCount"></result>
        <result column="saleDate" property="saleDate"></result>
        <result column="createTime" property="createTime"></result>
    </resultMap>

    <select id="selStockByDate" resultMap="GoodsStockMap">
        select
            qsi.supplier_id supplierId,
            qsi.supplier_name supplierName,
            qsg.goods_id goodsId,
            qsg.goods_name goodsName,
            qsgs.id stockId,
            qsgs.goods_price price,
            qsgs.goods_count goodsCount,
            qsgs.goods_sale_date saleDate,
            qsgs.modified_time createTime
        from
            qo_supplier_info qsi
                left join qo_supplier_goods qsg on
                qsi.supplier_id = qsg.goods_supplier_id
                left join qo_supplier_goods_stock qsgs on
                qsgs.goods_id = qsg.goods_id
        where
            qsgs.goods_sale_date = #{date}
        and
            qsi.supplier_id = #{supplierId}
    </select>
</mapper>