<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengdu.qo.rest.service.mapper.OrderInfoMapper">
    <insert id="insertOrderInfo">
        insert
        into
            qo_order_info (order_id,
                           saleDate,
                           goods_id,
                           goods_count,
                           total_price,
                           uid,
                           phone,
                           tips,
                           status,
                           create_time,
                           modified_time)
        values (#{order_id},#{saleDate},#{goods_id},#{goods_count},#{total_price},#{uid},#{phone},#{tips},#{status},#{create_time},#{modified_time});
    </insert>

    <select id="selTimeOutOrder" resultType="com.chengdu.management.pojo.OrderInfo">
        select
            *
        from
            qo_order_info qoi
        where
            (unix_timestamp(now())-60*5) > unix_timestamp(qoi.create_time)
          and qoi.status = 0;
    </select>

    <update id="updateOrderStatus">
        update
            qo_order_info
        set
            status = #{status},
            modified_time = current_timestamp
        where
            order_id = #{order_id};
    </update>

    <select id="selOrderInfoByOrderInfo" resultType="com.chengdu.management.pojo.OrderInfo" parameterType="com.chengdu.management.pojo.OrderInfo">
        select * from  qo_order_info
        <where><!-- where标签可以自动添加where，同时处理sql语句中第一个and关键字 -->
            <if test="order_id!=null"> and order_id = #{order_id} </if>
            <if test="phone!=null"> and phone = #{phone} </if>
            and status = #{status}
        </where>
    </select>

    <select id="selOrderInfoByPhone" resultType="java.util.Map">
        SELECT
            qoi.order_id order_id,
            qsi.supplier_name supplier_name,
            qsi.phone_number  supplier_phone,
            qsg.goods_name goods_name,
            qoi.goods_count goods_count,
            qoi.total_price total_price,
            qoi.tips tips,
            qoi.phone phone,
            qoi.status status,
            qoi.create_time create_time
        FROM
            qo_order_info qoi
                left join qo_supplier_goods qsg on
                qoi.goods_id = qsg.goods_id
                left join qo_supplier_info qsi on
                qsi.supplier_id = qsg.goods_supplier_id
        where
            qoi.phone = #{phone}
        order by
            create_time desc
            limit 0,30
    </select>

</mapper>