<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengdu.qo.rest.service.mapper.OrderInfoMapper">
    <insert id="insertOrderInfo">
        insert
        into
            qo_order_info (order_id,
                           saleDate,
                           goods_id,
                           goods_count,
                           total_price,
                           uid,
                           phone,
                           status,
                           create_time,
                           modified_time)
        values (#{order_id},#{saleDate},#{goods_id},#{goods_count},#{total_price},#{uid},#{phone},#{status},#{create_time},#{modified_time});
    </insert>

    <update id="updateGoodsCount">
        update
            qo_supplier_goods_stock qsgs
        set
            qsgs.goods_count = qsgs.goods_count - #{goods_count},
            modified_time = current_timestamp
        where
            qsgs.goods_sale_date = #{saleDate}
          and qsgs.goods_id = #{goods_id}
    </update>

    <select id="selTimeOutOrder" resultType="com.chengdu.management.pojo.OrderInfo">
        select
            *
        from
            qo_order_info qoi
        where
            (unix_timestamp(now())-60*5) > unix_timestamp(qoi.create_time)
          and qoi.status = 0;
    </select>

    <update id="updateOrderStatus">
        update
            qo_order_info
        set
            status = #{status},
            modified_time = current_timestamp
        where
            order_id = #{order_id};
    </update>

</mapper>