<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengdu.qo.rest.service.mapper.SupplierInfoMapper">

    <select id="selSupplierInfoList" resultType="com.chengdu.management.pojo.SupplierInfo">
        SELECT * FROM qo_supplier_info qsi where qsi.supplier_status != 0
    </select>

</mapper>