<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengdu.management.supplier.mapper.SupplierInfoMapper">
    <resultMap id="SupplierInfoMap" type="com.chengdu.management.pojo.SupplierInfo">
        <id column="supplier_id" property="supplier_id"></id>
        <result column="supplier_code" property="supplier_code"></result>
        <result column="supplier_name" property="supplier_name"></result>
        <result column="supplier_type" property="supplier_type"></result>
        <result column="link_man" property="link_man"></result>
        <result column="phone_number" property="phone_number"></result>
        <result column="bank_name" property="bank_name"></result>
        <result column="bank_account" property="bank_account"></result>
        <result column="address" property="address"></result>
        <result column="supplier_status" property="supplier_status"></result>
    </resultMap>

    <insert id="insertSupplier">
        insert into qo_supplier_info
            (supplier_code,supplier_name,link_man,phone_number,bank_name,bank_account,address,modified_time)
            value
            (#{supplier_code},#{supplier_name},#{link_man},#{phone_number},#{bank_name},#{bank_account},#{address},current_timestamp);
    </insert>

    <update id="updateSupplier" parameterType="com.chengdu.management.pojo.SupplierInfo">
        update qo_supplier_info
        <trim prefix="set" suffixOverrides=",">
            <if test="supplier_name!=null and supplier_name!=''">supplier_name=#{supplier_name},</if>
            <if test="supplier_type!=null and supplier_type!=''">supplier_type=#{supplier_type},</if>
            <if test="link_man!=null and link_man!=''">link_man=#{link_man},</if>
            <if test="phone_number!=null and phone_number!=''">phone_number=#{phone_number},</if>
            <if test="bank_name!=null and bank_name!=''">bank_name=#{bank_name},</if>
            <if test="bank_account!=null and bank_account!=''">bank_account=#{bank_account},</if>
            <if test="address!=null and address!=''">address=#{address},</if>
            modified_time=current_timestamp
        </trim>
        where supplier_code = #{supplier_code}
    </update>

    <update id="updateSupplierStatus">
        update qo_supplier_info set supplier_status = #{status},modified_time=current_timestamp
        where supplier_code = #{supplier_code}
    </update>

    <select id="selSupplierInfo" resultMap="SupplierInfoMap">
        select * from qo_supplier_info
        <where>
            <if test="supplier_name!=null and supplier_name!=''">supplier_name like concat(#{supplier_name},'%') and </if>
            <if test="link_man!=null and link_man!=''">link_man like concat(#{link_man},'%') and </if>
            <if test="phone_number!=null and phone_number!=''">phone_number like concat(#{phone_number},'%') and </if>
            <if test="address!=null and address!=''">address like concat(#{address},'%') and </if>
            1=1 limit #{pageIndex},#{pageSize}
        </where>
    </select>

    <select id="countSupplier" resultType="java.lang.Integer">
        select count(*) from qo_supplier_info;
    </select>

</mapper>